---
---

body
    article
        .s_bar
            font-size: 0
            .title
                font-size: 1.2rem
                margin: 0.5rem
            .male, .female, .ufm
                display: inline-block
                font-size: 2rem
                text-align: center
            .male
                background: #2196F3
            .female
                background: #f44336
            .ufm
                background: #9E9E9E
                
    .kt
        list-style: none
        .ktable
            font-family: 'Noto Serif JP', serif
            table-layout: fixed
            width: 100%
            border-spacing: 0
            border-collapse: collapse
            margin-bottom: 2em
            
            td, th
                border: solid 2px
                text-align: left
                padding-left: 0.5em
                font-weight: normal

            .bk
                word-wrap: break-word
    
