<!doctype html>
<html>
    <head>
        <meta name="description" content="山口大学のプログラミングサークル！">
        <meta name="keywords" content="プログラミング, 山口大学, サークル, 公認">
        <meta name="google-site-verification" content="rlaFYHKMlaB3yvzALyr-jKJ_2H0xICA3TKB3-61ja5Y" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>山口県の SARS-CoV-2 感染者</title>
    </head>
    <body>
        <article>
            {{ content }}
        </article>
    </body>
</html>