<!doctype html>
<html lang="ja">
    <head>
        <meta name="description" content="山口大学のプログラミングサークル！">
        <meta name="keywords" content="プログラミング, 山口大学, サークル, 公認">
        <meta name="google-site-verification" content="rlaFYHKMlaB3yvzALyr-jKJ_2H0xICA3TKB3-61ja5Y" />
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="sars2.png">
        <title>{{ page.title }} - 山口大学プログラミングサークル Ruby / Python 研究会</title>
    </head>
    <body>
        <article>
            {{ content }}
        </article>
    </body>
</html>